<div class="container my-5">
    <div class="header d-flex justify-content-between">
      <p class="header-title h1">Manage Campaigns</p>
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          abcd efgh
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      </div>
      <div class="fs-7 text-muted">Manage Campaigns</div>
      <div class="hero-container p-4 mt-4 ">
        <div class="btn btn-primary-theme my-4">Create Campaign</div>
        <div class="table-container">
        
        </div>
      </div>
  </div>