// *{
//     border: black 1px solid;
// }

$breakpoint-phone: 481px;
$breakpoint-tablet: 769px;

.body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f4f3f4 ; 
    
}


