<nav class="sidebar">
  <a href="#" routerLinkActive="active">
    <i class="bi bi-person-circle"></i>
  </a>
  <a href="#" class="dashboard" routerLinkActive="active">
    <i class="bi bi-speedometer2"></i> </a
  ><a href="#" routerLinkActive="active">
    <i class="bi bi-bar-chart"></i>
  </a>
  <a routerLink="/campaign" routerLinkActive="active">
    <i class="bi bi-megaphone"> </i>
  </a>
  <a href="#" routerLinkActive="active">
    <i class="bi bi-people"></i>
  </a>

  <i class="bi mt-auto bi-arrow-right"></i>
</nav>
